
.seccion_login{
    padding-top: 10px;
    background-color: white;
    height: auto;
    padding-bottom: 50px;
    
    
}

.container_login{
    
    margin: 0 auto;
    border-radius: 12px;
    border: 2px solid black;
    width: 800px;
    max-width: 90%;
    height: auto;
    padding-bottom: 40px;
    background-color: black;
       }
   
    

.container_login h1{
    color: brown;
    font-size: 60px;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.container_login form{
    text-align: center;
}


.titulo_input{
    color: white;
    font-size: 36px;
    padding: 10px;
    display: block;
}


.input{
    font-size: 30px;
    padding: 5px;
    margin: 0 auto;

}

.boton{
    border-radius: 12px;
    color: white;
    background-color: black;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.boton:hover{
    background-color: brown
}


@media screen and (max-width: 800px){
    
    .container_login{
        width: 90%;
        margin-top: 30px;
    }

    .container_login h1{
        font-size: 40px;
        padding-top: 30px;
    }

    .titulo_input{
        font-size: 24px;
    }

    .input{
        width: 85%;
        font-size: 18px;
    }

    .boton{
        width: 60%;
    }
}