
*{
    margin: 0;
    padding: 0;
    }


header{
    
    height: 115px;
    
    background-color: black;
    
    
    
}

.container_logo img{
    float: left;
    width: 150px;
    height: auto;

}

.container_nombre h1{
    color: white;
    text-align: center;
    float: left;
    margin-top: 50px;
    font-size: 12px;
    
}


nav{
    
    float: right;
    margin-top: 50px;
    padding-right: 25px;
}

nav a{
    color: white;
    padding: 5px;
    display: inline;
    text-decoration: none;

}
nav a:hover{
    color: brown;

}

/*Seccion principal*/



.seccion_imagen_principal{
    position: relative;
    
    
    height: 350px;
    clear: both;
    
    background-color: black;
   
    
    
    
}

.titulo_principal{
    
    width: 400px;
    
    color: white;
    
    
    width: 90%;
    left: 5%;
    top: 20%;
    
    position: absolute;
}

.titulo_principal h1{
    text-align: center;
    font-size: 60px;
    
}

.titulo_principal p{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}
.seccion_imagen_principal img{
    height: 100%;
    width: 100%;
    
    

 }

 



 /*Seccion de informacion*/
 

 .seccion_informacion{
    
    background-color: black;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;;
    padding-bottom: 50px;
    
    height: auto;
    
    

 }



 .container_estudiante{
    float: left;
    width: 300px;


 }

 .container_estudiante img{
    max-height: 300px;
    width: 90%;
 }


 .container_informacion{
    float: right;
    text-align: left;
    height: auto;
    width: 60%;
    margin-top: 35px;
    padding-bottom: 30px;
   
    
    
    background-color: brown;
    border-radius: 12px;
    border: 2px solid black;

 }
 
 
 .container_informacion p{
    padding-left: 10px;
    padding-top: 30px;
    color: white;
    
    
    
 }


 .seccion_imagen_representativa{
    height: 350px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
 }




 .imagen_representativa{
    margin-top: 60px;
    height: 250px;
    width: 250px;
    
 }

 .imagen_representativa2{
    margin-top: 40px;
    padding-bottom: 20px;
    height: 250px;
    width: 250px;
    
 }


 /*Footer*/

 footer{
    clear: both;
    text-align: center;
    height: 115px;
    max-width: 100%;
    background-color: black;
    color: white;
 }

 footer img{
    float: left;
    width: 150px;
    height: auto;
 }

 .desarrollador{
    font-size: 12px;
    padding-top: 57px;
    padding-right: 150px;
 }


 @media screen and (max-width: 800px){

    header{
        height: auto;
        padding-bottom: 20px;
        text-align: center;
    }

    .container_logo img{
        float: none;
        display: block;
        margin:  auto;
    }

    .container_nombre h1{

        float: none;
        
        text-align: center;
        margin: 0;
    }

    nav{
        float: none;
        margin-top: 15px;
        text-align: center;
        padding-right: 0;

    }

    /*Seccion principal*/

    .seccion_imagen_principal{

        height: 250px;
    }

    .titulo_principal{
        width: 90%;
        left: 5%;
        top: 20%;
    }

    .titulo_principal h1{
        font-size: 35px;
    }

    /*Seccion Informacin*/

    .seccion_informacion{
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container_estudiante{
        float: none;
        width: 50%;
        margin: auto;

    }

    .container_estudiante img{
        max-height: 400px;
        display: block;
    }

    .container_informacion{
        float: none;
        width: auto;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
        
    }

    /*Seccion Imagenes*/

    .seccion_imagen_representativa{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .imagen_representativa, .imagen_representativa2{
        display: block;
        width: 60%;
        height: auto;
        margin: 40px auto;
        padding: 0;
    }

    
    /*Footer*/

    footer{
        height: auto;
    
    }

    footer img{
        float: none;
        display: block;
    }

    .desarrollador{

        padding-top: 10px;
        padding-bottom: 40px;
        padding-right: 0;
        
    }
    
 }
 
@media screen and (max-width: 950px){
    .seccion_informacion{
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container_estudiante{
        float: none;
        width: 45%;
        margin: auto;

    }

    .container_informacion{
        float: none;
        width: auto;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }

}



 
